[submodule "submodules/GpsListener"]
	path = submodules/GpsListener
	url = https://github.com/fedegara/GpsListener.git
	branch = 2.0.0
[submodule "submodules/MapChat"]
	path = submodules/MapChat
	url = https://github.com/fedegara/mapchat
	branch = 2.0.0
